@use '~/src/ui/style/vars' as *;
@use '~/src/ui/style/functions' as *;

.form {
  width: rem(620px);
  padding: rem(36px) rem(130px);

  h1 {
    font-size: rem(48px);
    font-weight: 700;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: rem(48px);
    color: $black;
  }

  .input {
    margin-bottom: 16px;
  }

  .submitButton {
    margin-top: 16px;
  }
}
