@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/fonts/icons/icomoon.eot?1wila2');
  src:  url('../../assets/fonts/icons/icomoon.eot?1wila2#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icons/icomoon.ttf?1wila2') format('truetype'),
    url('../../assets/fonts/icons/icomoon.woff?1wila2') format('woff'),
    url('../../assets/fonts/icons/icomoon.svg?1wila2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-comments:before {
  content: "\e901";
}
.icon-cross:before {
  content: "\e902";
}
.icon-like:before {
  content: "\e903";
}
.icon-link:before {
  content: "\e904";
}
.icon-more:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
