@use '~/src/ui/style/vars' as *;

@mixin frame-image($size) {
  background-image: url('~/src/assets/images/avatar-frames/#{$size}-frame.svg');
}

.wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: $default-transition;

  &.followable {
    &:hover,
    &:focus {
      filter: drop-shadow($light-shadow);
    }
  }

  &.choose {
    width: 148px;
    height: 148px;
    border-radius: 8px;
    overflow: hidden;

    .img {
      border-radius: 8px;
    }
  }

  &.small {
    width: 32px;
    height: 32px;

    .img {
      border-radius: 10px;
    }
  }

  &.medium {
    width: 40px;
    height: 40px;

    .img {
      border-radius: 12px;
    }

    &.bordered {
      @include frame-image('medium');
      .img {
        border-radius: 8px;
      }
    }
  }

  &.big {
    width: 64px;
    height: 64px;

    .img {
      border-radius: 16px;
    }

    &.bordered {
      @include frame-image('big');
      .img {
        border-radius: 12px;
      }
    }
  }

  &.large {
    width: 88px;
    height: 88px;

    .img {
      border-radius: 24px;
    }

    &.bordered {
      @include frame-image('large');
      .img {
        border-radius: 20px;
      }
    }
  }

  &.xl {
    width: 116px;
    height: 116px;

    .img {
      border-radius: 32px;
    }

    &.bordered {
      @include frame-image('xl');
      .img {
        border-radius: 28px;
      }
    }
  }

  &.bordered {
    padding: 4px;
    background-size: contain;
    background-repeat: no-repeat;

    .img {
      border: none;
      box-shadow: $default-shadow;
    }
  }

  .img {
    width: 100%;
    height: 100%;
    border: 1px solid $gray;
    object-fit: cover;

    &.invisible {
      display: none;
    }
  }

  .followIcon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 30%);
  }

  .userIconBox {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $gray;

    .userIcon {
      fill: $white;
      width: 65%;
      height: 65%;
    }
  }

  .chooseLabel {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 28px;

    font-size: 12px;
    font-weight: 600;
    background-color: rgba($black, .5);
    color: $white;
  }
}
