@use '~/src/ui/style/vars' as *;
@use '~/src/ui/style/functions' as *;

.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: rem(24px) rem(64px);
  z-index: 1;

  display: flex;
  align-items: center;
  background-color: $white;
  box-shadow: $nav-shadow;

  & > :not(:last-child) {
    margin-right: 16px; 
  }

  @include phone-media {
    padding: 12px 16px;
  }

  .logo {
    margin-right: auto;
    font-weight: 800;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    color: $black;
    text-decoration: none;
    cursor: pointer;
  }

  .arrowButton {
    margin-right: auto;
    font-size: 32px;
    color: $black;
    background-color: transparent;
    border: none;
    outline: none;
    transform: scaleX(-100%);
    cursor: pointer;
    
    .iconArrow {
      transition: $default-transition;
    }

    &:hover .iconArrow {
      color: $dark-gray;
    }
  }

  .dropdownWrapper {
    position: relative;

    .langButton {
      width: fit-content;
      cursor: pointer;
    }

    .dropdownList {
      position: absolute;
      top: 64px;
      left: 50%;
      transform: translateX(-50%);

      @include phone-media {
        top: 52px;
      }
    }
  }

  .button {
    width: fit-content;
    padding-left: 24px;
    padding-right: 24px;
  }
}
