@use '~/src/ui/style/vars' as *;

.box {
  min-width: 64px;
  padding: 12px;
  background-color: $white;
  box-shadow: $nav-shadow;
  border-radius: 0px 0px 12px 12px;

  .option {
    display: block;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 4px 0;
    padding: 4px 6px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: $black;
    transition: $default-transition;

    &:hover {
      background-color: $light-gray;
      color: $blue;
    }
  }
}