@use '~/src/ui/style/vars' as *;
@use '~/src/ui/style/functions' as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: rem(620px);
  padding: rem(36px) rem(130px);

  @media screen and (max-width: 1000px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include phone-media {
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 48px 16px 32px 16px;
  }

  .upperBox {
    h1 {
      font-size: rem(48px);
      font-weight: 700;
      line-height: 1.5;
      margin-top: 0;
      margin-bottom: rem(48px);
      color: $black;

      @include phone-media {
        font-size: 32px;
        margin-bottom: 32px;
      }
    }

    .input {
      margin-bottom: 16px;
    }
  }

  .lowerBox {
    display: flex;
    flex-direction: column;

    @include phone-media {
      flex-direction: column-reverse;
    }

    .submitButton {
      margin-top: 16px;
      width: 100%;
    }

    .subLine {
      display: flex;
      justify-content: center;
      margin: 16px 0;
      font-size: 12px;
      gap: 12px;

      .link {
        color: $blue;
      }
    }
  }
}
